.banner-blog h2 {
    font-size: 50px;
    position: relative;
}
.banner-blog {
    padding: 140px 0px 100px;
    text-align: center;
    color: #fff;
    background-image: url(/images/blog-four.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.banner-blog::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #000000b3;
}
.blog-content-main ul {
    display: flex;
    align-items: center;
    padding: 50px 0px 50px;
    flex-wrap: wrap;
}
.blog-content-main ul li:last-child a {
    border-right: 0px;
    margin-right: 0px;
    padding-right: 0px;
}
.blog-content-main ul li a {
    padding: 0px 20px 0px 0px;
    font-size: 16px;
    text-transform: uppercase;
    margin-right: 20px;
    color: #383838;
    border-right: 1px solid #d5d4d4;
}
.blog-image-content {
    align-items: center;
}
.blog-image-content img, .blog-image-content-center img {
    border-radius: 12px;
    box-shadow: 0 0 3px #a7a7a752;
    transition: 0.3s ease-in-out 0s;
}
.blog-image-content-center >div:hover img, .blog-image-content:hover img {
    box-shadow: 0px 5px 3px #00000094;
}

.blog-image-content-center .content h3 a {
    font-size: 20px;
    font-weight: 500;
    margin: 12px 0px;
    line-height: 32px;
    display: inline-block;
}
.search-bar input {
    width: 100%;
    position: relative;
    padding: 12px 24px;
    margin-bottom: 22px;
    border: 1px solid #b1b1b1;
    border-radius: 50px;
    position: relative;
}
.search-bar button.Search-btn {
    position: absolute;
    right: 0;
    border: 0px;
    padding: 13px 62px;
    border-radius: 0px 50px 50px 0px;
    background-color: #25C1D5;
    color: #fff;
    font-weight: 600;
}
.search-bar {
    position: relative;
}
span.name {
    display: inline-block;
    font-size: 16px;
    color: #383838;
    font-weight: 500;
}
.blog-image-content .content h3 a {
    font-size: 30px;
    display: inline-block;
    line-height: 40px;
    margin-bottom: 20px;
}
.bog-post-main .categories ul {
    padding: 0px;
    flex-wrap: wrap;
}
.bog-post-main .blog-image-content .content {
    padding-left: 20px;
}
.blog-content-main .categories ul li a {
    padding: 4px 6px;
    border: 0px;
    border: 1px solid #000;
    display: inline-block;
    margin: 3px 6px 3px 0px;
    font-size: 11px;
    border-radius: 50px;
}
.bog-post-main .blog-image-content .image, .bog-post-main .blog-image-content .content {
    width: 50%;
}
.bog-post-main .blog-image-content {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.bog-post-main {
    padding: 0px 0px 60px;
    position: relative;
}
.bog-post-main .blog-image-content .content h4 a {
    font-size: 22px;
    margin: 12px 0px;
    font-weight: 500;
    line-height: 30px;
    display: inline-block;
}
.categories {
    position: sticky;
    top: 120px;
}
.blog-image-content:hover h3 a,.blog-image-content-center >div:hover h3 a,
.bog-post-main .blog-image-content:hover h4 a,
.blog-content-main ul li:hover a {
    color: #168b9a;
}
.bog-post-main .categories ul li a:hover {
    background-color: #168b9a;
    border-color: #168b9a;
    color: #fff;
}

.blog-image-content-center .content {
    padding-top: 18px;
}
.blog-image-content-center .content p, .blog-image-content .content p{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.pagination-number li button {
    border: 0px;
    background-color: transparent;
    color: #383838;
}
.pagination-number li button.active{
    color: #20A0B1;
}
.pagination-number li {
    padding: 0px 5px;
}
span.name span.date {
    padding-left: 6px;
    margin-left: 6px;
    border-left: 1px solid #afaeae;
}
span.tags, span.date {
    color: #383838;
    font-weight: 300;
    font-size: 14px;
}
.categories h4 {
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #383838;
    font-size: 28px;
}

.blog-image-content-center >div {
    margin-bottom: 30px;
}
.second h4 {
    font-size: 18px;
}
/* section.blog-single-post img {
    width: auto;
} */
.blog-single-post {
    padding-top: 40px;
}
section.blog-single-post .second img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    object-fit: cover;
    position: absolute;
    left: 0;
    padding: 0px
}
.second {
    position: relative;
    padding: 22px 0px 30px 66px;
}
section.blog-single-post p span {
    color: #383838;
}
.blog-single-post ul li {
    padding: 0px 0px 12px 27px;
    position: relative;
}
.blog-single-post ul li::before {
    content: "";
    position: absolute;
    left: 10px;
    width: 5px;
    height: 5px;
    background-color: #212020;
    border-radius: 50px;
    top: 10px;
}
.blog-categories {
    padding: 60px 0px 0px;
}
.blog-card-sub {
    margin-bottom: 24px;
}
.blog-card-sub .content h5{
    padding: 16px 0px;
    margin-bottom: 0px;
    transition: 0.3s ease-in-out 0s;
}
.blog-card-sub .content p{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.blog-card-sub img{
    transition: 0.3s ease-in-out 0s;
    border-radius: 12px;
}
.blog-card-sub:hover img{
    box-shadow: 0px 5px 3px #00000094;
}
.blog-single-post img.featured-main {
    width: auto;
}
.blog-card-sub:hover h5{
    color: #26C6DA;
}
.blog-single-post .inner-description h4 {
    margin: 30px 0px 20px 0px;
    font-size: 24px;
    background-color: #f9f9f9;
    padding: 12px;
    border-left: 3px solid #20a0b16e;
    font-weight: 500;
}
@media(max-width: 767px){
    .banner-blog {
        padding: 117px 0px 70px;
    }
    .banner-blog h2 {
        font-size: 34px;
    }
    .bog-post-main .blog-image-content .image, .bog-post-main .blog-image-content .content {
        width: 100%;
    }
    .bog-post-main .blog-image-content .content {
        padding: 15px 0px 0px;
    }.bog-post-main {
        padding: 0px 0px 60px;
    }
    .blog-image-content .content h3 {
        font-size: 24px;
    }
    .blog-image-content .content {
        padding-top: 12px;
    }
    .bog-post-main .blog-image-content{
        flex-direction: column;
    }
    .search-bar button.Search-btn {
        padding: 14px 27px;
        font-size: 14px;
    }
    .blog-image-content .content h3 a {
        font-size: 24px;
        line-height: 34px;
    }
}
@media(max-width: 575px){
    .blog-image-content-center >div {
        margin-bottom: 34px;
    }
    
}